@font-face {
  font-family: 'Norse-Bold';
  src: url('./fonts/Norse-Bold.otf');
}

:root {
  box-sizing: border-box;
  --main-font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: url('./imgs/purple_flowers.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

p {
  margin: 0;
}

.italics {
  font-style: italic;
}

/* Logo section */
aside {
  background-color: rgba(14, 15, 15, 0.6);
  width: 35vw;
  display: flex;
  justify-content: center;
  align-self: baseline;
  margin-top: 20vh;
}

aside > img {
  height: 120px;
}

aside > p {
  margin: 0;
  font-size: 5rem;
  color: white;
  font-family: 'Norse-Bold', sans-serif;
  align-self: center;
}

@media (min-width: 2400px) {
  aside > img {
    height: 200px;
  }

  aside > p {
    font-size: 7rem;
  }
}

/* Main sign up section */
.main-header,
.submit-form,
.submit-footer {
  padding-left: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: white;
  width: 65vw;
  font-size: 26px;
  font-weight: 600;
}

@media (min-width: 2400px) {
  .main-header,
  .submit-form {
    padding-left: 5rem;
  }

  main {
    font-size: 2rem;
    font-weight: 800;
  }
}

.main-header {
  padding-right: 10rem;
  /* padding-left: 3rem; */
}

.want-to {
  margin-top: 2rem;
}

@media (min-width: 2400px) {
  .main-header {
    padding-right: 35rem;
    padding-left: 3rem;
  }
}

.form {
  padding: 1.5rem 15rem 1.5rem 3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-message {
  margin-bottom: 1rem;
}

.input-group {
  width: 50%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(48, 48, 47);
}

input {
  width: 75%;
  height: 1.8rem;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #00aaff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.row1,
.row2 {
  margin-bottom: 1rem;
}

.error,
.error:focus {
  border: 2px solid red;
}

.error-message {
  font-size: 1rem;
  font-weight: 300;
}

button[type="submit"] {
  height: 3.5rem;
  width: 17rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #c264f5;
  border: none;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  color: #c264f5;
  background-color: white;
}

