@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf');
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: url('./imgs/purple_flowers.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Logo section */
aside {
    background-color: rgba(14, 15, 15, .6);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-self: baseline;
    margin-top: 20vh;
}

aside > img {
    height: 200px;
}

aside > p {
    margin: 0;
    font-size: 7rem;
    color: white;
    font-family: 'Norse-Bold', sans-serif;
    align-self: center;
}

main {
    background-color: white;
    width: 50vw;
}